.headerNav {
  padding: 24px;
  -webkit-box-shadow: -1px -4px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -4px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -4px 18px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 24px;
}

.navigation {
  display: flex;
  gap: 24px;
}

.active {
  color: rgb(255, 74, 102);
}
